body{
    background-image: url("../img/christina-wocintechchat-com-UcZcsHSp8o4-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 1;
    
}
    nav>ul>li{
display: inline-block;
padding: 30px 30px 0px;
}

h1{
    text-align: center;
}
p{
    
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;

color: #000000;
}
.active{
    background-color: #4CAF50;
}



 h2{
    font-family: 'Ribeye Marrow', cursive;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 30px;
   color: #000000;
} 

#first{
background-color:purple;
height: 70px;
margin-top: 150px;

}
#first>ul>li{
    display: inline-block;
    list-style-type: none;
    margin-left: 150px;
    padding-top: 20px;

}

li >a{
    color: black;
}

img{
    width: 50px;
    margin-left: 150px;
    margin-top: -90px;
    margin-bottom: 15px;
}
a:hover {
    background-color: red;
  }